doctype html
html(lang='en')
  head
    title= title
    style
      include main.css
  body
    div.hero
      div.nav
        ul
          li home
          li about
          li contact us
      div.hero-div
        p.hero-text Hello
    div.first-section
      p.welcome Welcome

