doctype html
html(lang='en')
  head
    title= title
    style
      include main.css
  body
    div.hero
      div.nav
        ul
          li home
          li about
          li contact us
      div.hero-div
        p.hero-text Hello
    div.first-section.section
      div.p-div
        p.welcome Welcome
      div.first-section-image
    div.second-section.section
      div.second-section-image
      div.p-div
        p.webpage This is my webpage
    div.third-section.section
      div.p-div
        p.dog This is a cute dog
      div.third-section-image
    div.last-section.section
        p.thank-you Thank you


