body {
    margin: 0 auto;
}

.nav ul {
    margin: 0;
    padding: 0;
    background-color: rgba(255,255,255, .5);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li {
    text-decoration: none;
    list-style-type: none;
    padding: 15px;
    text-transform: uppercase;
    font-size: 18px;
}

.nav ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hero {
    background-image: url('/public/mtn.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    height: 600px;
    width: 100%;
    margin-bottom: 60px;
}

.hero-div {
    height: 70%;
    width: 50%;
    display: flex;
    justify-content: center;
}

.hero-text {
    font-size: 36px;
    text-transform: uppercase;
    align-self: flex-end;
}

.section {
    display: flex;
    align-items: center;
}


.p-div {
    width: 50%;
    text-align: center;
}

.welcome, .webpage, .dog, .thank-you {
    text-transform: uppercase;
    font-size: 36px;
}

.first-section-image {
    background-image: url('/public/livingroom.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
    width: 50%;
}

.second-section-image {
    background-image: url('/public/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    width: 50%;
}

.third-section-image {
    background-image: url('/public/dog.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    width: 50%;
}

.last-section {
    display: flex;
    align-items: center;
    justify-content: center;
}
